.navlinkbuttoncontainer:hover {
    text-decoration: underline;
}

.navlinkbuttoncontainer {
    /* height: 100%;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 500; */


    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    cursor: pointer;
    white-space: nowrap;
    max-inline-size: 100%;
    vertical-align: middle;
    min-inline-size: 112px;
    font-weight: 500;
    padding: 0 12px;
    block-size: 40px;
    line-height: 40px;
    font-size: 1.0000rem;
    line-height: 1.4286rem;
    border-radius: 6px;
    color: #0061a6;
    background-color: #cce4f5;

}

.navlinkbuttoncontainer:active {
    background-color: rgb(0, 60, 102);
    transition-timing-function: ease-in;
    transition-duration: 150ms;
}

.navlinkbuttonwrapper {
    /* justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 8px;
    width: auto;
    background-color: aqua; */
    
    
    /* height: 100%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px; */
}

.linkButton{
    
}

.label {
    block-size: 100%;
    inline-size: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    gap: 8px;
}